# DEEPaaS framework requirements
deepaas~=2.1.0
webargs~=5.5.2
flaat~=1.1.1
bioimageio-core==0.6.9
matplotlib==3.9.0
segment-anything
torchvision
 
careamics
cellpose
timm
git+https://github.com/ChaoningZhang/MobileSAM.git@main#egg=MobileSAM
 



# External requirements for the model and API
fPDF2~=2.7.5
# pytorch~=
# tensorflow~=
# keras~=
# scikit-learn~=

# Optional tools, you can use for quality of life
# mlflow~=
